body
{
    background-size: cover;
    background-position: center;
}

img {
    position: fixed;
    height: min-content;
    width: min-content;
    align-content: center;
}
 h1 {
    position: fixed;
    padding: left;
    text-align: center;
    text-decoration: wavy;
    text-decoration: aliceblue;
 }